node_modules/
.ep_initialized
.cache.json
docker-compose.override.yml
demo/local.json
demo/APIKEY.txt
demo/pads.d

.DS_Store
ep_weave-*.tgz
lib/
static/js/
static/css/

# Python artifacts
.python-version
__pycache__/
*.py[cod]
*.pyc
.ipynb_checkpoints/
tests/e2e/artifacts/
